/* body {
  margin: 0px;
  background: url("./../images/svgOption3.svg") no-repeat;
  background-size: cover;
} */

.about-me {
  margin-left: 10rem;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-me-text-heading {
  color: var(--main-green);
  font-size: 3.5rem;
  font-family: var(--font-family-two);
}

.about-me-text-container {
  border: 1px solid var(--main-grey);
  border-radius: 1rem;
  padding: 3rem;
}

.about-me-text {
  color: var(--main-grey);
  font-size: 1rem;
  font-weight: 100;
  font-family: var(--font-family-two);
}

