body {
  margin: 0px;
  background: url("./../images/svgOption3.svg") no-repeat;
  background-size: cover;
}

.empty-container-contact-me {
  width: 100vw;
}

.contact-page {
  height: calc(100vh - 162px);
  width: 100vw;
}

.hero-text h4 {
  color: var(--main-grey);
  font-size: 1rem;
  font-weight: 100;
  font-family: var(--font-family-two);
}

.contact-form {
  background-color: var(--main-white);
  justify-content: center;
  padding: 0rem 10rem;
  border-radius: 30px;  
  box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.h1-text-in-form {
  color: var(--main-grey);
  margin-bottom: 20px;
}

.input {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid var(--main-green);
  margin-bottom: 4rem; 
  padding-bottom: 0.5rem;
}

#message {
padding-right: 200px;

}

.contact-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

#contact-me-button {
  margin-bottom: 1rem;
  background: var(--main-green);
  color: var(--main-white);
  border: var(--main-grey);
  font-size: 1rem;
  font-weight: bold;
  padding-right: 20rem;
  border-radius: 10px;
  padding-top: 1rem;
}

#contact-me-button:hover {
 transform: scale(1.1);
 cursor: pointer;

}
