body {
  margin: 0px;
}

#experience-page {
  margin: 0px;
  background: url("./../images/svgOption6.svg") ;
  background-size: cover; 
}

#experience-page-header {
  margin-left: 2rem;
  color: var(--main-green);
}

.main-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.experiences-container {
  border: 1px solid var(--main-grey);
  width: 26rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: var(--box-shadow);
  background: var(--main-white);
}

.experience-text {
  margin-left: 1rem;
}

.experience-text h1 {
  color: var(--main-green);
  border-bottom: 1px solid grey;
}

.experience-text h1:hover {
  color: var(--main-orange);
}

.experience-text h3 {
  color: var(--main-grey);
  font-family: var(--font-family-three);
  font-weight: normal;
}

.experience-text h4 {
  color: var(--main-grey);
  font-family: var(--font-family-three);
  font-weight: normal;
}

.experience-text p {
  color: var(--main-grey);
  font-family: var(--font-family-three);
  font-weight: normal;
}

.google-map {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  height: 20rem;
  width: 26rem;
}

/* Media Queries */

@media only screen and (max-width: 597px) {
  html {
    background: var(--main-grey);
  }

  #experience-page-header {
  margin-left: 2rem;
  margin-top: 5rem;
  color: var(--main-green);
  }

}