body {
  margin: 0px;

}

.hero-text {
  margin-left: 1rem;
}

.main-profile-img {
  border-radius: 30px 10px 10px 10px
}

.hero-text h3 {
  color: var(--main-grey);
}

.hero-text h1 {
  color: var(--main-green);
}

.hero-page {
  display: flex;
  height: calc(100vh - 71.5px);
  width: 100vw;
}

.img-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.main-profile-img {
  margin-left: 20rem;
  width: 20%;
  height: 20%;
}


