body {
  margin: 0px;
}

.portfolio-main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  h1 {
    margin: 0px;
    margin-left: 2rem;
    color: var(--main-green);
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
}

.portfolio-inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 80%;
  height: 100%;
  margin-top: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  
  h1 {
    margin: 0px;
    color: var(--main-orange);
  }

  p {
   font-family: var(--font-family-one);
   font-weight: normal;
  }

  .portfolio-text {
    width: 50%;
    margin-left: 5rem;
  }

  .portfolio-icons {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--main-orange);
  }
  .portfolio-icons:hover {
    transform: scale(1.1)
  }

  .portfolio-image {
    border-radius: 10px;
    border: 1px solid var(--main-grey);
  }
}



